<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Task Manager</a>
    <button (mouseleave)="hide_logout()" (click)='toggle_logout_flag()' *ngIf="user" aria-label="Left Align" class="btn btn-outline-success" type="button">
        <span *ngIf="!logout_hover_flag">{{user.displayName}}</span>
        <span (click)="logout($event)" *ngIf="logout_hover_flag">Logout</span>
    </button>
</nav>
<router-outlet></router-outlet>